<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Escc.Dates" version="3.0.0" targetFramework="net462" />
  <package id="Escc.Net" version="3.0.0" targetFramework="net462" />
  <package id="Escc.Net.Configuration" version="2.0.1" targetFramework="net462" />
  <package id="Escc.ServiceClosures" version="5.0.1" targetFramework="net462" />
  <package id="Exceptionless" version="4.2.1989" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights" version="2.8.1" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="9.3.2" targetFramework="net462" />
</packages>